@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/* 초기화 */
* {
    margin: 0;
    padding: 0;
}



/* 프로필 아이콘 모달창 */
.setting_wrapper {
    /* border: 1px solid red; */
    position: relative;
    width: 1185px;
    left: 50%;
    transform: translate(-50%, 0);
}
.setting_icon_modal_wrapper {
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: absolute;
    right: 30px;
    top: 60px;
    width: 195px;
    height: 160px;
    background-color: #ffffff;
    box-shadow: 0 1.5px 3px 1px #e0e0e0;
}

.setting_icon_modal_ul {
    /* border: 1px solid red; */
    position: relative;
    width: 80%;
    left: 45%;
    top: 50%;
    transform: translate(-46%, -50%);
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

.setting_icon_modal_ul>li {
    /* border: 1px solid red; */
    position: relative;
    display: block;
    margin-top: 0px;
    padding-left: 5%;
    width: 100%;
    height: 42.5px;
    line-height: 42.5px;
}

.setting_icon_modal_ul>li:hover {
    background-color: #f2f2f2;
}



/* 프로필 설정 메뉴 모달창 */
.setting_modal_wrapper {
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: absolute;
    right: 26px;
    top: 60px;
    width: 153px;
    height: 110px;
    background-color: #ffffff;
    box-shadow: 0 1.5px 3px 1px #e0e0e0;
}

.setting_modal_ul {
    /* border: 1px solid red; */
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    color: #757575;
    font-size: 0.9em;
    cursor: pointer;
}

.setting_modal_li {
    margin-top: 12px;
}

.setting_modal_li:hover {
    color: #000000;
}


/* 커버 사진 선택 모달창 */
.cover_select_modal_wrapper {
    /* border: 1px solid red; */
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 770px;
    height: 320px;
    background-color: #ffffff;
    box-shadow: 0 1.5px 3px 1px #e0e0e0;
    z-index: 9;
}

.cover_select_modal_info {
    /* border: 1px solid red; */
    width: 100%;
    height: 45px;
    background-color: #f2f2f2;
}

.cover_select_modal_span {
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 0.9em;
    font-weight: bold;
    line-height: 45px;
}

.cover_select_icon {
    /* border: 1px solid red; */
    position: relative;
    top: 3px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.cover_select_x {
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 12.5px;
    font-family: 'SUIT-Regular';
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.cover_select_modal_content {
    /* border: 1px solid red; */
    width: 100%;
    height: 85%;
}

.cover_select_modal_upload {
    /* border: 1px solid red; */
    position: relative;
    width: 655px;
    height: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    cursor: pointer;
}

.cover_select_modal_upload span {
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 42.5%;
    transform: translate(-50%);
    font-size: 0.9em;
    font-weight: bold;
}



/* 프로필 수정 모달창 */
.modify_wrapper {
    /* border: 1px solid red; */
    position: fixed;
    top: -215px;
    left: -345px;
    width: 156%;
    height: 100vh;
    z-index: 99;
}

.modify_cover {
    /* border: 1px solid red; */
    width: 100%;
    height: 250px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.modify_cover:hover {
    background-color: #d6d6d6;
}

.modify_content {
    /* border: 1px solid red; */
    position: relative;
    top: -135px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 720px;
    height: 410px;
    background-color: #ffffff;
}

.modify_img {
    /* border: 1px solid red; */
    border-radius: 50%;
    position: relative;
    display: block;
    left: 30px;
    top: 30px;
    width: 125px;
    height: 125px;
    overflow: hidden;
    text-align: center;
}

.modify_img:hover {
    opacity: 0.8;
}

.modify_img_content {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    cursor: default;
    cursor: pointer;
}

.modify_img_message {
    /* border: 1px solid red; */
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 125px;
}

.modify_input {
    /* border: 1px solid red; */
    position: relative;
    margin-bottom: 30px;
    left: 170px;
    top: -95px;
    width: 500px;
}

.modify_input_span {
    /* border: 1px solid red; */
    display: block;
    margin-bottom: 3px;
    left: 170px;
    font-size: 0.75em;
    font-weight: bold;
}

.modify_input_name, .modify_input_city, .modify_textarea {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    position: relative;
    padding: 0 10px;
    width: 100%;
    height: 40px;   
}

.modify_textarea {
    height: 80px;
    padding: 10px 10px;
}

.modify_input_name, .modify_input_city, .modify_textarea:focus {
    outline: none;
}

.modify_textarea {
    resize: none;
}

.modify_button_cancel, .modify_button_save {
    position: absolute;
    right: 10px;
    top: 350px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.modify_button_cancel {
    border: 1px solid #000000;
    right: 120px;
    background-color: #ffffff;
}

.modify_button_save {
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.modify_button_cancel:hover {
    background-color: #d6d6d6;
}

.modify_button_save:hover {
    background-color: #292929;
}