@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/* 로그인 모달창 */
.sign_modal_wrapper {
    /* border: 1px solid red; */
    border-radius: 10px;
    position: relative;
    width: 500px;
    height: 610px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    background-color: #ffffff;
    box-shadow: 0 0 2px 1px #e0e0e0;
}

.sign_modal_x {
    /* border: 1px solid red; */
    position: absolute;
    right: 15px;
    top: 15px;
    width: 25px;
    height: 25px;
    font-family: 'SUIT-Regular';
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.sign_modal_logo {
    /* border: 1px solid red; */
    position: relative;
    left: 50px;
    top: 60px;
    width: 50px;
    height: 50px;
}

.sign_modal_h2 {
    /* border: 1px solid red; */
    position: relative;
    left: 50px;
    top: 70px;
    font-size: 1.7em;
    white-space: pre-line;
}

.sign_modal_ul {
    /* border: 1px solid red; */
    position: relative;
    left: 50%;
    top: 130px;
    width: 400px;
    transform: translate(-50%, 0);
}

.sign_modal_li {
    border: 2px solid #000000;
    border-radius: 25px;
    position: relative;
    margin-bottom: 25px;
    height: 45px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.sign_modal_img {
    /* border: 1px solid red; */
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
}

.sign_modal_li:nth-child(2) img, .sign_modal_li:nth-child(3) img {
    /* border: 1px solid red; */
    left: 17.5px;
    width: 27px;
    height: 27px;
}



/* 이메일 로그인 모달창 */
.sign_email_modal_wrapper {
    /* border: 1px solid red; */
    border-radius: 10px;
    position: relative;
    margin-top: -555px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 610px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 1px #e0e0e0;
    z-index: 999;
}

.sign_email_modal_logo {
    /* border: 1px solid red; */
    position: absolute;
    left: 50px;
    top: 60px;
    width: 50px;
    height: 50px;
}

.sign_email_modal_h2 {
    /* border: 1px solid red; */
    position: relative;
    left: 50px;
    top: 122px;
    font-size: 1.7em;
    white-space: pre-line;
}

.sign_modal_label {
    display: inline-block;
    /* border: 1px solid red; */
    position: relative;
    left: 50px;
    top: 140px;
    width: 100px;
    font-size: 0.85em;
    cursor: pointer;
}

.sign_modal_span {
    margin-left: 5px;
}

.sign_modal_input {
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 225px;
    transform: translate(-50%, 0);
    width: 400px;
    font-size: 0.9em;
    font-weight: bold;
}

.sign_modal_input:nth-of-type(2) {
    top: 315px;
}

.sign_email_modal_span {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.sign_email_modal_input {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 0 10px;
    position: relative;
    width: 380px;
    height: 40px;
    box-shadow: 0 0 2px 1px #e0e0e0;
}

.sign_email_modal_input:focus {
    outline: none;
}

.sign_modal_forgot_password {
    /* border: 1px solid red; */
    position: absolute;
    left: 50px;
    top: 400px;
    text-decoration: underline;
    cursor: pointer;
}

.sign_modal_signin {
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 450px;
    transform: translate(-50%, 0);
    width: 320px;
    height: 57px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.sign_modal_signup {
    display: block;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 540px;
    width: 250px;
    transform: translate(-50%, 0);
    white-space: pre-wrap;
}

.sign_modal_strong {
    text-decoration: underline;
    cursor: pointer;
}