
.main-header-area {
    background-color: grey;
}

.main-header-left-logo {
    display: block;
    height: 100%;
    width: 132px;
    align-self: center;
}

@media (min-width: 768px) {
    .main-header-left-logo {
        width:188px
    }
}

.main-navbar-pos {
    display: inline-flex;
    width: 100%;
    background-color: green;
}

.main-nav-form {
    margin: 50px;
    padding: 10px 16px;
    background-color: yellow;
    color: black;
}

.main-search-area {
    height: 150px;
    width: 100%;
    background-color: purple;
    text-align: -webkit-center;
}

.main-recent-search-area{
    height: 150px;
    width: 100%;
    background-color: goldenrod;
}

.main-rcm-food-area{
    height: 400px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.main-rcm-local-area{
    height: 400px;
    width: 100%;
    background-color: darkred;
    display: flex;
    justify-content: space-between;
}

.main-most-local-area{
    height: 500px;
    width: 100%;
    background-color: skyblue;
    text-align: -webkit-center;
}

.main-guide-area {
    height: 400px;
    width: 100%;
    background-color: yellow;
    text-align: -webkit-center;
}

